$color-primary: #e66500;
$color-secondary: #e66500;
$color-black: #333333;
$color-gray: #888888;
$color-gray-light: lighten($color-gray, 10%);

$color-danger: #d9534f;
$color-warning: #fab95f;
$color-success: #6bd072;
$color-info: #67bbe5;