.button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-fullwidth;
}

button.btn, input[type=submit].btn {
    &:hover:focus {
        background-color: $color-primary;
        color: #fff;
    }

    &:focus {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    }
}

input[type=text], input[type=email], input[type=number], input[type=url], input[type=password], textarea, .uneditable-input, #inputDate, select {

    &, &.form-control {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .2);
        border: none;
        border-radius: 2px;
        display: block;
        min-height: 34px;
        padding: 5px 10px;
        width: 100%;

        &:focus, &:hover {
            border-color: $color-black;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .4);
            outline: none;
        }
    }
}

select, select.form-control {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);

    .tab-content & {
        border: none;
    }

    &:hover, &:focus {
        border-color: rgba(0,0,0,0.5);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    }
}

.select-wrapper {
    border-radius: 2px;
}

textarea {
    resize: vertical;
}

// Radios & Checkboxes
input[type=checkbox], input[type=radio] {
    display:none;
}

input[type=checkbox] + label, input[type=radio] + label {
    display: inline-block;
    padding-left: 25px !important;
    position: relative;


    &:hover:before {
        border-color: $color-primary;
    }
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    content: "";
    display: inline-block;
    height: 14px;
    line-height: 1;
    margin-left: -25px;
    position: absolute;
    top: 4px;
    transition: all linear .1s;
    width: 14px;
}

input[type=checkbox] + label:after {
    color: #fff;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 4px;
    -webkit-font-smoothing: antialiased;
    left: 6px;
    position: absolute;
    top: 1px;
    transition: all linear .1s;
}

input[type=checkbox]:checked + label:before {
    border-width: 7px;
    border-color: $color-primary;
}

input[type=checkbox]:checked + label:after {
    font-size: 11px;
    left: 2px;
    top: 1px;
}

input[type=radio] + label:before {
    border-radius: 50%;
    content: "";
}

input[type=radio]:checked + label:before {
    border-color: $color-primary;
    border-width: 5px;
}

.cmb-row {
    @extend .form-group;
}

form.cmb-form {

    .cmb2-metabox  {
        @extend .box !optional;
        display: table;
        width: 100%;
    }

    .cmb-row {
        background-color: transparent;
    }

    .cmb-th, .cmb-td {
        float: none !important;
        padding: 20px;
    }

    .cmb-th {
        display: table-cell;
        padding-left: 0px;
        vertical-align: middle !important;

        & label:after {
            display: none !important;
        }
    }

    .cmb-td {
        display: table-cell;
        padding-right: 0px;
        width: 75%;
    }

    input[type=text], input[type=mail], textarea {
        @extend .form-control;
    }

    .button {
        margin-left: 0px !important;
    }

    .button-primary {
        @extend .btn-primary;
    }

    .button-primary[type=submit] {
        float: right;
        margin-right: 0px;
    }

    .button {
        @extend .btn-primary;
    }

    .cmb-multicheck-toggle {
        @extend .btn-xs;
    }

    .cmb2-upload-button {
        margin: 30px 0px;
    }

    .cmb2-media-status {
        position: relative;
    }

    .cmb2-media-status .img-status .cmb2-remove-file-button {
        background-image: none;
        background-color: $brand-danger;
        border-radius: 50%;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
        color: #fff;
        display: block;
        font-size: 0px;
        height: 19px;
        left: -7px;
        margin: 0px;
        position: absolute;
        text-align: center;
        text-indent: 0;
        transition: all linear .12s;
        top: 7px;
        width: 19px;

        &:after {
            content: "\f00d";
            display: block;
            font-family: fontawesome;
            -webkit-font-smoothing: antialiased;
            font-size: 12px;
            margin: 2px 0px 0px 1px;
            color: #fff;
        }

        &:hover {
            background-color: darken($brand-danger, 15%);
            text-decoration: none;
        }
    }

    .cmb2-id-property-gallery .cmb2-media-status .img-status .cmb2-remove-file-button:after {
        margin-top: -15px;
    }

    .cmb-attach-list {
        @extend .clearfix;
        list-style: none;
        margin: 30px 0px 0px 0px;
        padding: 0px;

        li {
            float: left;
            margin: 0px 30px 30px 0px;
            position: relative;
        }
    }

    .pw-map {
        border: 0px;
        margin: 0px;
        width: 100%;
    }

    .pw-map-search {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    input.pw-map-latitude {
        float: left;
        margin: 20px 0px;
        width: 48%;
    }

    input.pw-map-longitude {
        float: right;
        margin: 20px 0px;
        margin-left: 0px !important;
        width: 48%;
    }

    .cmb2-list {
        @extend .clearfix;
        list-style: none;
        margin: 30px 0px 0px 0px;
        padding: 0px;

        li {
            @extend .checkbox;

            float: left;
            margin: 0px 0px 10px 0px !important;
            width: 33.33%;

            input[type=checkbox] {
                margin: 3px 0px 0px 0px;
            }

            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }

    .cmb-multicheck-toggle {
        cursor: pointer;
    }

    .cmb2-wrap li, .cmb2-td {
        line-height: 22px;
    }

    .cmb-repeat-group-wrap {
        h2 {
            font-size: 12px;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
        }

        .cmb-group-title {
            cursor: pointer;
        }

        .cmb-th {
            padding-left: 0px !important;
        }

        .cmb-td {
            padding: 0px 20px 0px 0px !important;
        }

        .cmb-repeatable-grouping .cmb-nested .cmb-row {
            float: left;
            border-bottom: 0px !important;
            margin: 0px;
        }

        .cmb-remove-row {
            display: none;
        }

        .cmb-repeatable-grouping .cmb-group-title {
            min-height: 2.7em;
        }

        .cmb-repeat-group-field {
            padding: 0px;
        }

        .cmb-remove-group-row {
            margin-bottom: 0px;
        }
    }
}

.register-form, .login-form, .change-password-form, .change-profile-form {
    .form-group {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .button {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .terms-conditions-input {
        text-align: center;

        label {
            padding-left: 5px;

            a {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .form-group {
            width: 100%;
        }
    }
}

.required {
    color: #ff3044;
}

.wpcf7-form-control {
    margin-bottom: 20px;
}