#property-detail-section-gallery {
    margin-top: -12px;

    .page-header {
        display: none;
    }
}

.property-detail-gallery {
    a {
        visibility: hidden;
    }

    .owl-item a {
        visibility: visible;
    }

    .owl-stage-outer {
        margin-bottom: 15px;
    }

    .item-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        display: block;
        height: 300px;

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 380px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: 300px;
        }

        @media (max-width: $screen-xs-max) {
            height: 250px;
        }
    }
}

.property-detail-gallery-preview {
    background-color: #fff;
    padding: 0;

    .owl-item {
        cursor: pointer;
        transition: all linear .15s;

        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .5;
            transition: all linear .15s;
        }

        &.highlighted, &:hover {
            img {
                -webkit-filter: grayscale(0%);
                opacity: 1;
                filter: grayscale(0%);
            }
        }

        div {
            display: block;
        }
    }

    .owl-stage {
        margin-left: auto;
        margin-right: auto;
    }

    .owl-next, .owl-prev {
        @extend .btn-primary;

        background-color: #eeeeee;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
        border: none;
        display: block !important;
        line-height: 1;
        padding: 0px;
        position: absolute;
        transition: all linear .15s;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        top: 50%;

        i {
            background-color: transparent;
            color: rgba(51, 51, 51, 0.5) !important;
            font-size: 18px;
            height: auto;
            margin: 0px;
            padding: 3px 0px;
            transition: all linear .15s;
        }

        &:hover {
            background-color: $color-secondary;

            i {
                color: #fff !important;
            }
        }
    }

    .owl-next {
        right: -17px !important;
        padding: 5px 9px 4px 10px;
    }

    .owl-prev {
        left: -12px;
        padding: 5px 10px 4px 9px;
    }
}

#cboxPrevious, #cboxNext {
    @extend .btn-primary;
    padding: 0px;
    margin-right: 0;
    background-color: #333 !important;
    color: white !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    height: 40px !important;
    width: 40px !important;

    &:hover {
        background-color: $color-secondary !important;
        color: #fff !important;
    }
}

#cboxNext {
    right: -10px !important;
    padding: 0 !important;
}

#cboxPrevious {
    left: -10px !important;
    padding: 0 !important;
}